Click==7.0
defusedxml==0.7.1
et-xmlfile==1.1.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
numpy==1.24.1
openpyxl==3.0.10
pandas==1.5.3
prettytable==3.6.0
python-dateutil==2.8.2
python-irodsclient==1.1.5
pytz==2022.7.1
simplejson==3.18.1
six==1.16.0
wcwidth==0.2.6
Werkzeug==2.2.2
xlrd==1.2.0