{% extends "public/templates/public_template.html" %}

{% block title %}Projects{% endblock %}
{% block heading %}Browse Projects{% endblock %}

{% block main %}
<div class="container">
<div class="box" style="margin-bottom: 2em;">

    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
        <th class="has-text-centered">ID</th> 
        <th class="has-text-centered">Project Name</th> 
        <th class="has-text-centered">Host</th>
        <th class="has-text-centered">Repository</th>
        <th class="has-text-centered">Project</th>
        <th class="has-text-centered">Metadata</th>  
      </tr>
    </thead> 
    
    <tfoot>
    </tfoot> 
    <tbody>

            
        
            {% for project in projects %}
            <tr>
                <td class="has-text-centered">
                    <div class="tag is-light"><a href="/projects/{{ project }}" >{{ project }}</a></span> </div>
                </td> 
                <td class="has-text-centered"> {{ projects[project]["projectname"] }}</td> 
                <td class="has-text-centered">{{ projects[project]["host"] }}</span></td> 
                <td class="has-text-centered">{{ projects[project]["repository"] }}</td> 
                <td class="has-text-centered">
                  <a href= "/download-project/{{ projects[project]["projectname"] }}" class="button">
                      <span class="icon is-small">
                        <i class="fas fa-download"></i>
                      </span>
                    </a>
                  </td>
                  <td class="has-text-centered">
                    <a href= "/download-metadata/{{ projects[project]["projectname"] }}" class="button">
                        <span class="icon is-small">
                          <i class="fas fa-download"></i>
                        </span>
                      </a>
                    </td>
                </tr>
            
            {% endfor %}
        



    </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block script %}

{% endblock %}