{% extends "public/templates/public_template.html" %}

{% block title %}{{ projectname }}{% endblock %}
{% block heading %}{{ projectname }}{% endblock %}

{% block main %}
<div class="container">
<div class="box" style="margin-bottom: 2em;">

    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
        <th class="has-text-centered">File ID</th> 
        <th class="has-text-centered">Filename</th> 
        <th class="has-text-centered">Sequencing Center</th> 
        <th class="has-text-centered">Accession Number</th>
        <th class="has-text-centered">Format</th>
        <th class="has-text-centered">Size</th>
        <th class="has-text-centered">Download</th>
      </tr>
    </thead> 
    
    <tfoot>
    </tfoot> 
    <tbody>


        
            {% for file in files.items() %}
            <tr>
                <td class="has-text-centered">
                    <div class="tag is-light"><a href="/projects/{{projectid}}/{{ file[0] }}" >{{ file[0] }}</a></span> </div>
                </td> 
                <td class="has-text-centered"> {{ file[1]["filename"] }}</td>  
                <td class="has-text-centered">{{ file[1]["sequencing_center"] }}</td>
                <td class="has-text-centered">{{ file[1]["accession_number"] }}</td>
                <td class="has-text-centered">{{ file[1]["format"] }}</td> 
                <td class="has-text-centered">{{ file[1]["filesize"] }}</td> 
                <td class="has-text-centered">
                  <a href= "/download-file/{{ projectname }}/{{ file[1]["filename"] }}" class="button">
                      <span class="icon is-small">
                        <i class="fas fa-download"></i>
                      </span>
                    </a>
                  </td>
                </tr>
            
            {% endfor %}
        



    </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block script %}

{% endblock %}