{% extends "public/templates/public_template.html" %}

{% block title %}Projects{% endblock %}
{% block heading %}Browse Projects{% endblock %}

{% block main %}
<div class="container">
<div class="box" style="margin-bottom: 2em;">

    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
        <th class="has-text-centered">Project ID</th> 
        <th class="has-text-centered">Project Name</th> 
        <th class="has-text-centered">Species</th>
        <th class="has-text-centered">Data Type</th>
        <th class="has-text-centered">Scope</th>
        <th class="has-text-centered">Category</th>
        <th class="has-text-centered">Repository</th>
        <th class="has-text-centered">Date Added</th>
        <th class="has-text-centered">Project</th>
        <th class="has-text-centered">Metadata</th>  
      </tr>
    </thead> 
    
    <tfoot>
    </tfoot> 
    <tbody>

            
        
            {% for project in projects %}
            <tr>
                <td class="has-text-centered">
                    <div class="tag is-light has-text-link"><a href="/projects/{{ project }}">{{ project }}</a></div>
                </td> 
                <td class="has-text-centered"> {{ projects[project]["projectname"] }}</td> 
                <td class="has-text-centered">
                  {% if projects[project]["host"] == "Human" %}
                    <div class="tag is-warning has-text-black">{{ projects[project]["host"] }}</div>
                  {% else %}
                    <div class="tag is-info has-text-white">{{ projects[project]["host"] }}</div>
                  {% endif %}
                </td>
                <td class="has-text-centered">{{ projects[project]["dataType"] }}</td>  
                <td class="has-text-centered">{{ projects[project]["scope"] }}</td> 
                <td class="has-text-centered">{{ projects[project]["category"] }}</td>
                <td class="has-text-centered">
                  {% if projects[project]["repository"] == "SANBI" %}
                    <div class="tag is-black has-text-warning">{{ projects[project]["repository"] }}</div>
                  {% elif projects[project]["repository"] == "Kenya" %}
                    <div class="tag is-danger has-text-white">{{ projects[project]["repository"] }}</div>
                  {% elif projects[project]["repository"] == "Uganda" %}
                    <div class="tag is-primary has-text-black">{{ projects[project]["repository"] }}</div>
                  {% endif %}
                </td> 
                
                
                <td class="has-text-centered">{{ projects[project]["dateAdded"] }}</td> 
                <td class="has-text-centered">
                  <a href= "/download-project/{{ projects[project]["projectname"] }}" class="button">
                      <span class="icon is-small">
                        <i class="fas fa-download"></i>
                      </span>
                    </a>
                  </td>
                  <td class="has-text-centered">
                    <a href= "/download-metadata/{{ projects[project]["projectname"] }}" class="button">
                        <span class="icon is-small">
                          <i class="fas fa-download"></i>
                        </span>
                      </a>
                  </td>
                </tr>
            
            {% endfor %}
        



    </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block script %}

{% endblock %}