{% extends "public/templates/public_template.html" %}

{% block title %}Repository{% endblock %}
{% block heading %}Browse Repository{% endblock %}

{% block main %}
<div class="container">
<div class="box" style="margin-bottom: 2em;">

    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
        <th class="has-text-centered">Project ID</th> 
        <th class="has-text-centered">Repository</th> 
        <th class="has-text-centered">Project Name</th> 
        <th class="has-text-centered">Project</th>
        <!--th class="has-text-centered">File Size</th-->
      </tr>
    </thead> 
    
    <tfoot>
    </tfoot> 
    <tbody>
    
            {% for item in results %}
            <tr>
              <td class="has-text-centered">
                <div class="tag is-light has-text-link"><a href="/projects/{{ item }}">{{ item }}</a></div>
              </td>
              <td class="has-text-centered">
                {% if results[item]["repository"] == "SANBI" %}
                <div class="tag is-black has-text-warning">{{ results[item]["repository"] }}</div>
                {% elif results[item]["repository"] == "Kenya" %}
                <div class="tag is-danger has-text-white">{{ results[item]["repository"] }}</div>
                {% elif results[item]["repository"] == "Uganda" %}
                <div class="tag is-primary has-text-black">{{ results[item]["repository"] }}</div>
                {% endif %}
              </td> 
              <td class="has-text-centered"> {{ results[item]["projectname"] }}</td>
              <td class="has-text-centered">
                <a href= "/download-project/{{ results[item]["projectname"] }}" class="button">
                    <span class="icon is-small">
                      <i class="fas fa-download"></i>
                    </span>
                  </a>
              </td>  
            </tr>
            {% endfor %}


    </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block script %}

{% endblock %}