{% extends "public/templates/public_upload_template.html" %}

{% block title %}Upload Project{% endblock %}
{% block heading %}Upload Project{% endblock %}


{% block main %}

<div class="container">
  
      <form action="/upload-project" method="POST" enctype="multipart/form-data">

        
              <div class="field">
                <label class="label">Project Name</label>
                <div class="control">
                    <input type="text" class="input" id="projectname" name="projectname" placeholder="e.g. Tuberculosis">
                </div>
              </div>
            

            
                <div class="field">
                  <div class="control is-expanded">
                      <label class="label">Choose Species</label>
                    <div class="select is-fullwidth">
                      <select id = "host" name="host">
                        <option value="Pathogen">Pathogen</option>
                        <option value="Human">Human</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="control is-expanded">
                      <label class="label">Choose Data Type</label>
                    <div class="select is-fullwidth">
                      <select id = "dataType" name="dataType">
                        <option value="Genome Sequencing">Genome Sequencing</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="control is-expanded">
                      <label class="label">Choose Scope</label>
                    <div class="select is-fullwidth">
                      <select id = "scope" name="scope">
                        <option value="Monoisolate">Monoisolate</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="control is-expanded">
                      <label class="label">Choose Organism</label>
                    <div class="select is-fullwidth">
                      <select id = "category" name="category">
                        <option value="M.Tuberculosis">M.Tuberculosis</option>
                      </select>
                    </div>
                  </div>
                
                </div>
              

              
                <div class="field">
                    <div class="control is-expanded">
                        <label class="label">Choose Repository</label>
                      <div class="select is-fullwidth">
                        <select id="repository" name="repository">
                          <option value="SANBI">SANBI</option>
                          <option value="Kenya">Kenya</option>
                          <option value="Uganda">Uganda</option>
                        </select>
                      </div>
                    </div>
                  
                  </div>

                  <input type="hidden" id="dateAdded" name="dateAdded" value={{ date_time }}>
                
                
                  <div class="field">
                      <label class="label">Select Project File</label>
                      <div class="file has-name is-fullwidth">
                          <label class="file-label">
                              <input class="file-input" type="file" name="project" id="file">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Choose a file…
                                </span>
                              </span>
                              <span id="filename" class="file-name">
                                  My Project.zip
                                </span>
                              </label>
                        </div>
                    </div>
                  

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Upload</button>
                        </div>
                    </div>
        </div>
    
        

      </form>

   
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 
</div>

<style>



</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script js>
  
  var file = document.getElementById("file");
file.onchange = function(){
    if(file.files.length > 0)
    {

      document.getElementById('filename').innerHTML = 					file.files[0].name;

    }
};


 </script>

{% endblock %}