{% extends "layout.html" %}
{% block content %}
<section>
    <section style="padding-top: 3em;padding-bottom: 3em;padding-right: 1.5em;padding-left: 1.5em;">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                      <h4 class= "title is-4">My Projects</h4>

                    </div>
                  </div>

                  <div class="level-right">
                    <div class="level-item">
                      <a class="button is-link  ">
                        <span><strong>Upload</strong></span>
                      </a>
                    </div>
                  </div>
            </nav>
            <div class="box" style="margin-bottom: 2em;">
              <table class="table is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th class="has-text-centered">Code</th> 
                  <th class="has-text-centered">Name</th> 
                  <th class="has-text-centered">Host</th>
                  <th class="has-text-centered">Last Update</th> 
                  <th class="has-text-centered">Country</th>
                </tr>
              </thead> 
              
              <tfoot>
              </tfoot> 
              <tbody>
                  <td class="has-text-centered">
                      <div class="tag is-light"><a href="{{ url_for('project_page',project_id='AGA000') }}" >AGA000</a></span> </div>
                  </td> 
                  <td class="has-text-centered"> My First TB Project</td> 
                  <td class="has-text-centered">Human</span></td> 
                  <td class="has-text-centered">Never</td> 
                  <td class="has-text-centered"><span class="emoji">🇿🇦</span> </td>
              </tbody>
            </table>
          </div>
        </div>
    
<div class="container">
    <div class="box">
      <div class="columns">
        <div class="column">
           <h1>Testing</h1>
        </div>
  </div>
</div>
</div>
  

</section>
{% endblock %}