{% extends "layout.html" %}
{% block content %}
<section>
    <section style="padding-top: 3em;padding-bottom: 3em;padding-right: 1.5em;padding-left: 1.5em;">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                      <h4 class= "title is-4">Browse Repository</h4>

                    </div>
                  </div>

                  <div class="level-right">
                    <div class="level-item">
                      
                    </div>
                  </div>
            </nav>
            <div class="box" style="margin-bottom: 2em;">
              <table class="table is-hoverable is-fullwidth">
                <thead>
                  <tr>
                  <th class="has-text-centered">File ID</th> 
                  <th class="has-text-centered">Repository</th> 
                  <th class="has-text-centered">Project</th>
                  <th class="has-text-centered">Data Type</th> 
                  <th class="has-text-centered">Strategy</th>
                  <th class="has-text-centered">Format</th>
                  <th class="has-text-centered">Size</th>
                </tr>
              </thead> 
              
              <tfoot>
              </tfoot> 
              <tbody>
                  <tr>
                  <td class="has-text-centered">
                  <div class="tag is-light"><a href="{{ url_for('file_page',file_id='FI0001') }}" >FI0001</a></span> </div>
                  </td> 
                  <td class="has-text-centered">SANBI - Cape Town</td> 
                  <td class="has-text-centered">
                        <div class="tag is-light"><a href="{{ url_for('project_page',project_id='AGA000') }}" >AGA000</a></span> </div>
                        </td> 
                  <td class="has-text-centered">Aligned Reads</td>
                  <td class="has-text-centered">WGS</td>
                  <td class="has-text-centered">BAM</td> 
                  <td class="has-text-centered">5.21 GB</td> 
                  </tr>

                  <tr>
                        <td class="has-text-centered">
                        <div class="tag is-light"><a href="{{ url_for('file_page',file_id='FI0001') }}" >FI0001</a></span> </div>
                        </td> 
                        <td class="has-text-centered">SANBI - Cape Town</td> 
                        <td class="has-text-centered">
                              <div class="tag is-light"><a href="{{ url_for('project_page',project_id='AGA001') }}" >AGA001</a></span> </div>
                              </td> 
                        <td class="has-text-centered">Aligned Reads</td>
                        <td class="has-text-centered">WGS</td>
                        <td class="has-text-centered">BAM</td> 
                        <td class="has-text-centered">5.21 GB</td> 
                        </tr>


              </tbody>
            </table>
          </div>
        </div>
    
</section>
{% endblock %}